* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
   color: black;
}

body {
   background-color: #FFF6F6;

}

h1 {
   font-family: 'Edu TAS Beginner', cursive;
}

/* navigation bar */

.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px;
   padding: 0 20px;
   margin: 10px auto;
}

/* hamburger menu */
.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin-top: 5px;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: black;
}

.hamburger-menu {
   display: block;
   /* margin-right: 30px; */
}

.hamburger-menu.active .bar:nth-child(2) {
   opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
}

/* slide over menu */

.slide-over-menu-list  {
   background-color: #FF8080;
   height: 100%;
   width: 100%;
   margin: 0 0 10px 10px;
   padding: 10px 10px;
   position: absolute;
   /* change right to 0 to reveal */
   right: -100%;
   gap: 0;
   z-index: 99999;
   transition: 0.7s ease;
}

.slide-over-menu-list.active {
   right: 0;
   transition: 0.7s ease;
}

/* title */
.img-title {
   display: flex;
}

.img-slide-over {
   margin-right: 10px;
}

/* img */
.img-slide-over {
   background-color: #860A35;
   height: 20px;
   width: 20px;
}

/* line per cat */
.bottom-line {
      border-bottom: 1px solid #860A35;
      width: 350px;
      margin: 10px auto;

}


/* home page */
.homepage-img-container {
   display: flex;
   overflow: hidden;
   width: 100%;
   justify-content: center;
}



.homepage-img-individual {
   height: 400px;
   width: 400px;
}



.homepage-img-text {
   position: absolute;
   text-align: center;
   top: 120px;
   padding: 20px;
   /* left: 20px; */
   font-size: 1.125rem;
   font-family: 'Montserrat Alternates', sans-serif;
   color: #AF2655;
}

/* Seller Values */
.fa-message-icon {
   position: fixed;
   top: 600px;
   left: 350px;
   color: #191717;

}

.company-values {
   display: flex;
   justify-content:center;
   text-align: center;
   margin: 40px auto;
}

li {
   margin-top: 10px;
}

/* collections section */
.product-collection-container-header {
   font-family: "brush script MT", cursive;
   font-size: 2rem;
   text-align: center;
   text-decoration: underline;
}

.collection-section {
   height: 250px;
   margin: 20px auto;
   padding: 20px 20px;
   background-color: #FF8080;
}

.collection-section-h4 {
   margin-top: 150px;
}

/* best sellers section */

.best-seller-container {
   margin: 10px auto;
   padding: 0 10px;
}

.best-seller-header {
   font-family: "brush script MT", cursive;
   font-size: 2rem;
   text-align: center;
   text-decoration: underline;
}

.best-seller-products-container {
   display: flex;
   /* overflow-x: scroll; */
}

.best-seller-container {
   width: 100%;
   height: 150px;
   text-align: center;
}

/* stay in touch section */

.stay-in-touch-section {
   margin: 20px auto 0;
   padding: 0 10px;
   /* align-items: center; */
   /* text-align:left; */
}

/* selecting multiple descendants - h4 and h5 */
.stay-in-touch-section h4, h5 {
   text-align: center;
   margin-bottom: 10px;
}

.subscribe-input-section {
   text-align: center;
   margin-bottom: 20px;
}

.line {
   border-bottom: 1px solid #FF8080;
}

/* footer section */


.footer-section {
   display: flex;
   justify-content: space-between;
   height: 50px;
}

.fa-brands {
   padding: 10px 0 10px 10px;
   margin: 10px 0;
   font-size: 1.1rem;
}

.copyright-message {
   margin: 10px 10px;
   padding: 10px 0;
   font-size: 0.8rem;
}





